<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725090263608-epvddb9b0ch0dc30p9r4pvp9vna28uui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725090263608-epvddb9b0ch0dc30p9r4pvp9vna28uui</string>
	<key>API_KEY</key>
	<string>AIzaSyB59_AzmbZqqEL3LxH598QqauL3FOJQKDo</string>
	<key>GCM_SENDER_ID</key>
	<string>725090263608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication11</string>
	<key>PROJECT_ID</key>
	<string>durian-a17c4</string>
	<key>STORAGE_BUCKET</key>
	<string>durian-a17c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725090263608:ios:5cca25918fb623ac853ccd</string>
</dict>
</plist>